@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  color: whitesmoke;
}

body {
  width: 100vw;
  height: 100vh;
}

nav {
  width: 100vw;
  height: 100px;
  background-color: #0f0f0f;
  position: fixed;
}

.innerNav {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #0f0f0f;
  gap: 10%;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

svg {
  position: fixed;
  top: 90px;
  z-index: -20;
}

nav h1 {
  display: block;
  text-align: center;
  padding: 10px;
}

.sideBar {
  height: 100vh;
  width: 50px;
  background-color: black;
  position: fixed;
  right: 0;
  z-index: -10;
  overflow: visible;
  padding-top: 150px;
}

.sideBar > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 10;
  position: absolute;
  left: -200%;
}

.sideBar li {
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 30px;
  border: 7px solid white;
  font-size: 14px;
  cursor: crosshair;
}

li::before,
li::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 68%;
}

li::before {
  transform: translateY(-32px);
  background: rgb(0, 0, 0);
  border-bottom-left-radius: 20px;
  box-shadow: -4px 4px 0 3px white;
}

li::after {
  transform: translateY(34px);
  background: rgb(0, 0, 0);
  border-top-left-radius: 20px;
  box-shadow: -4px -4px 0 3px white;
}

.sideBar li:hover::before {
  transform: rotate(180deg);
}

.sideBar li:hover {
  border: none;
}
