@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Varela+Round&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  color: var(--white);
}

:root {
  --white: #f5efe7;
  --blue: #3e5879;
  --darkBlue: #213555;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

nav {
  width: 100vw;
  height: 100px;
  background-color: var(--blue);
  position: fixed;
  top: 0;
}

.innerNav {
  width: 100%;
  height: auto;
  display: flex;
  background-color: transparent;
  gap: 10%;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

svg {
  position: fixed;
  top: 90px;
  z-index: -20;
  fill: var(--blue);
}

nav h1 {
  display: block;
  text-align: center;
  padding: 10px;
  font-family: "Varela Round", sans-serif;
  font-size: 4vw;
}

.sideBar {
  height: 100vh;
  width: 50px;
  background-color: var(--blue);
  position: fixed;
  right: 0;
  z-index: 10; /* Bring sidebar to the front */
  overflow: visible;
  padding-top: 150px;
}

.sideBar > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  left: -200%; /* Maintain this for custom design */
}

.sideBar li,
#play,
#pause,
#stop {
  padding: 10px 20px;
  border-radius: 30px;
  border: 7px solid var(--white);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: center;
}

li::before,
li::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 68%;
}

li::before {
  transform: translateY(-32px);
  background: var(--blue);
  border-bottom-left-radius: 20px;
  box-shadow: -4px 4px 0 3px var(--white);
}

li::after {
  transform: translateY(34px);
  background: var(--blue);
  border-top-left-radius: 20px;
  box-shadow: -4px -4px 0 3px var(--white);
}

.active {
  background-color: black;
}

li:not(.active) {
  background-color: var(--darkBlue);
}

.sideBar li:hover {
  transform: translateX(-10px);
}

.sideBar li:hover::after,
.sideBar li:hover::before {
  left: 77.5%;
}

.barContainer, .mergeSortContainer {
  width: auto;
  height: 60vh;
  display: flex;
  align-items: flex-end;
  gap: 1px;
  margin-bottom: 30px;
}

.mergeSortContainer {
  height: 30vh;
  left: 5%;
  top: 20%;
  font-size: 9px;
  position: absolute;
}

.bar {
  width: 35px;
  height: 100%;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center top;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.5s;
}

.mergeSortContainer .bar {
  width: 15px;
}

.footer {
  position: absolute;
  width: 90%;
  height: 30px;
  bottom: 0;
  background-color: black;
  border-radius: 30px;
}
.btnContainer {
  width: auto;
  height: auto;
  display: flex;
  gap: 30px;
}

.btnContainer button {
  background-color: black;
}

#play:hover,
#pause:hover,
#stop:hover {
  transform: scale(1.1);
}

.range {
  height: 30px;
  background-color: var(--darkBlue);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.range .field {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.sliderRange {
  width: 93%;
  position: relative;
  margin: 0 auto;
}

.slider {
  width: 35px;
  height: 35px;
  background-color: var(--blue);
  position: absolute;
  top: 20px;
  left: 0%;
  border-radius: 50% 0 50% 50%;
  transform: rotate(-45deg);
  border: 2px solid white;
  visibility: hidden;
}

.slider div {
  transform: rotate(45deg);
  color: var(--white);
  position: relative;
  right: 10px;
  top: 12px;
  left: 7px;
}

.timer {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 50px;
  width: 100px;
  border: 2px solid black;
  background-color: black;
  border-radius: 20px;
  font-size: 150%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
