@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Varela+Round&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  color: whitesmoke;
}

body {
  width: 100vw;
  height: 100vh;
}

nav {
  width: 100vw;
  height: 100px;
  background-color: #0f0f0f;
  position: fixed;
}

.innerNav {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #0f0f0f;
  gap: 10%;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

svg {
  position: fixed;
  top: 90px;
  z-index: -20;
}

nav h1 {
  display: block;
  text-align: center;
  padding: 10px;
  font-family: "Londrina Shadow", sans-serif;
  font-size: 4vw;
}

.sideBar {
  height: 100vh;
  width: 50px;
  background-color: black;
  position: fixed;
  right: 0;
  z-index: 10; /* Bring sidebar to the front */
  overflow: visible;
  padding-top: 150px;
}

.sideBar > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  left: -200%; /* Maintain this for custom design */
}

.sideBar li {
  padding: 10px 20px;
  border-radius: 30px;
  border: 7px solid white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: center;
}

li::before,
li::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 68%;
}

li::before {
  transform: translateY(-32px);
  background: rgb(0, 0, 0);
  border-bottom-left-radius: 20px;
  box-shadow: -4px 4px 0 3px white;
}

li::after {
  transform: translateY(34px);
  background: rgb(0, 0, 0);
  border-top-left-radius: 20px;
  box-shadow: -4px -4px 0 3px white;
}

.active {
  background-color: #005B41;
}

li:not(.active) {
  background-color: black;
}

.sideBar li:hover {
  transform: translateX(-10px);
}

.sideBar li:hover::after, .sideBar li:hover::before {
  left: 77.5%;
}

#play:hover {
  background-color: #008170;
}
